.survey-container {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.sv_main .sv_custom_header {
  background-color: #ffffff;
}
.sv_main .sv_body {
  border-top: none;
}
.recommended {
  font-size: xx-large;
}
.table-width {
  width: 50%;
}
